page-checkout {
    .toolbar-background {
        background: #515151;
    }
    .toolbar-title {
        color: #fff;
    }
    .back-button {
        color: #ffffff;
    }
    .bar-button {
        color: #ffffff;
    }
}
